body {
    background-color: rgb(221, 221, 221);
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    text-decoration-color: rgb(43, 43, 43);
}
.body{
    margin: auto;
}

.footer{
    background-color: rgb(178, 178, 178);
    height: fit-content;
    width: 100%;
}

.header-inside{
    max-width: 1200px;
    height: 120px;
    margin-left:auto;
    margin-right:auto;
    display: flex;
    justify-content: space-between;
    color: rgb(43, 43, 43);
}

.header-logo{
    display: block;
    justify-content: left;
    width: 100px;
    text-decoration: none;
}

.header-menu ul{
    display: flex;
    justify-content: right;
}

.header-menu ul li{
    margin-left: 20px;
    margin-right: 20px;
    list-style: none;
}