/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: rgb(221, 221, 221);
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
}

footer {
    bottom: 0;
    width: 100%;
    padding: 2rem;
    background: rgb(178, 178, 178);
    height:max-content;
    display: flex;
    border-top: 3px solid rgb(43, 43, 43);
}

.body{
    color: rgb(43, 43, 43);
    margin: auto;
}

header {
    width: 100%;
    height: 120px;
    background-color: rgb(162, 184, 184);
    display: flex;
    align-items: center;
}

.header-inside{
    width: 100%;
    height: 120px;
    margin-left:auto;
    margin-right:auto;
    display: flex;
    justify-content: space-between;
    color: rgb(43, 43, 43);
}

.header-logo{
    display: block;
    justify-content: left;
    width: 50px;
    text-decoration: none;
    color: rgb(43, 43, 43);
    font-size: x-large;
    border-image: round;
    border-radius: 3px;
    border-color:black;
}

.header-menu ul{
    display: flex;
}

.header-menu ul li{
    margin-left:75px;
    list-style: none;
}