body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    background-color: rgb(221, 221, 221);
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    height: 140px;
    background-color: rgb(162, 184, 184);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family:Arial, Helvetica, sans-serif;
}

footer {
    width: 100%;
    padding: 2rem;
    background: rgb(178, 178, 178);
    height:max-content;
    display: flex;
    flex-direction: column;
    border-top: 3px solid rgb(43, 43, 43);
    font-family:Arial, Helvetica, sans-serif;
}

.body{
    color: rgb(43, 43, 43);
}

.header-inside{
    width: 100%;
    height: 110px;
    margin-left:auto;
    margin-right:auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: rgb(43, 43, 43);
}

.header-logo{
    display: block;
    margin-left: 20px;
    width: 50px;
    text-decoration: none;
    color: rgb(43, 43, 43);
    font-size: x-large;
    border-image: round;
    border-radius: 3px;
    border-color:black;
}

.header-menu-img{
    width:75px;
    margin-left: 80%;
    display: flex;
    flex-direction: row;
    gap: 25px;
    display: block;
}

.div-for-footer{
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100lvh;
}