body {
    background-color: rgb(221, 221, 221);
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    text-decoration-color: rgb(43, 43, 43);
}
.body{
    margin: auto;
}
.footer{
    background-color: rgb(178, 178, 178);
    height: fit-content;
    width: 100%;
}
.ignore-header{
    background-color: rgb(192, 218, 218);
    width: 100%;
    height:fit-content;
    top: 0;
    left: 0;
    right: 0;
    list-style: none;
}
.header-inside{
    max-width: 1200px;
    height: 120px;
    margin-left:auto;
    margin-right:auto;
    display: flex;
    justify-content: space-between;
    color: rgb(43, 43, 43);
}
.header-logo {
    display: block;
    justify-content: left;
    width: 160px;
}
.header-menu ul{
    display: flex;
    justify-content: right;
}
.header-menu ul li{
    margin-left: 20px;
    margin-right: 20px;
    list-style: none;
}
.non-deco-link {
    text-decoration-color: rgb(43, 43, 43);
}