body {
    background-color: rgb(221, 221, 221);
    font-family:Arial, Helvetica, sans-serif;
}
.footer {
    background-color: rgb(178, 178, 178);
    height: 200px;
    width: 100%;
}
.header {
    background-color: rgb(192, 218, 218);
    width: 100%;
    height:fit-content;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}