body {
    background-color: rgb(221, 221, 221);
    font-family:Arial, Helvetica, sans-serif;
}
footer {
    background-color: rgb(178, 178, 178);
}
header {
    background-color: rgb(192, 218, 218);
}