body {
    background-color: rgb(221, 221, 221);
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    text-decoration-color: rgb(43, 43, 43);
}
.body{
    margin: auto;
}
.footer{
    background-color: rgb(178, 178, 178);
    height: 50px;
    width: 100%;
}
.header{
    background-color: rgb(192, 218, 218);
    width: 100%;
    height:50px;
    top: 0;
    left: 0;
    right: 0;
}
.lang{
    text-align: right;
}
.non-deco-link {
    color: rgb(43, 43, 43);
}