* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: rgb(221, 221, 221);
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
}
.body{
    color: rgb(43, 43, 43);
}

.footer{
    background-color: rgb(178, 178, 178);
    height: fit-content;
    width: 100%;
}

.header-inside{
    max-width: 1200px;
    height: 120px;
    margin-left:auto;
    margin-right:auto;
    display: flex;
    justify-content: space-between;
    color: rgb(43, 43, 43);
    background-color: rgb(162, 184, 184);
}

.header-logo{
    display: block;
    justify-content: left;
    width: 100px;
    text-decoration: none;
    color: rgb(43, 43, 43);
    font-size: x-large;
    border-image: round;
    border-radius: 3px;
    border-color:black;
}

.header-menu ul{
    display: flex;
    justify-content: right;
}

.header-menu ul li{
    margin-left: 20px;
    margin-right: 20px;
    list-style: none;
}