body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(221, 221, 221);
}

main {
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-right: 30px;
}

header {
    width: 100%;
    height: 140px;
    background-color: rgb(162, 184, 184);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family:Arial, Helvetica, sans-serif;
}

footer {
    width: 100%;
    padding: 2rem;
    background: rgb(178, 178, 178);
    height:max-content;
    display: flex;
    flex-direction: column;
    border-top: 3px solid rgb(43, 43, 43);
    font-family:Arial, Helvetica, sans-serif;
}

blockquote {
    border-left: 4px solid rgb(43, 43, 43);
    margin: 1rem 0;
    padding-left: 1rem;
    padding-bottom: 3px;
    color: rgb(31, 31, 31);
    background-color: rgb(200, 202, 200);
}

a {
  text-decoration: none;
}

.body{
    color: rgb(43, 43, 43);
}

.header-inside{
    width: 100%;
    height: 110px;
    margin-left:auto;
    margin-right:auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: rgb(43, 43, 43);
}

.header-logo{
    display: block;
    margin-left: 5px;
    margin-top: 10px;
    height: 75px;
    text-decoration: none;
    font-size: xx-large;
}

.header-menu ul{
    display: flex;
}

.header-menu ul li{
    list-style: none;
}

.header-button{
    display: flex;
    height: 75px;
    text-decoration: none;
    color: rgb(43, 43, 43);
    font-size: x-large;
    border-image: round;
    border-radius: 3px;
    border-color:black;
    margin-left: 45px;
    margin-top: 10px;
    justify-content: flex-end;
}

.div-for-footer{
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100lvh;
}

.en-trans:hover{
    content: url("img/button/002_1.png");
}

.en-trans:active{
    content: url("img/button/002_2.png");
}

.ja-trans:hover{
    content: url("img/button/001_1.png");
}

.ja-trans:active{
    content: url("img/button/001_2.png");
}

.contact-trans:hover{
    content: url("img/button/003_1.png");
}

.contact-trans:active{
    content: url("img/button/003_2.png");
}

.img-figure{
    width: 750px;
}

.footer-menu ul{
    display: flex;
    margin-right: 100px;
    justify-content: flex-end;
}

.footer-menu ul li{
    list-style: none;
}

.footer-logo{
    display: block;
    margin-left: 35px;
    width: 25px;
    text-decoration: none;
    color: rgb(43, 43, 43);
    font-size: x-large;
    border-image: round;
    border-radius: 3px;
    border-color:black;
}

.horizontal-menu ul{
    display: flex;
    justify-content: flex-start;
}

.horizontal-menu ul li{
    list-style: none;
    margin-right: 5px;
    margin-left: 5px;
}

.horizontal-menu-button{
    display: block;
    width: 200px;
    text-decoration: none;
    color: rgb(43, 43, 43);
    font-size: x-large;
    border-image: round;
    border-radius: 3px;
    border-color:black;
}

.about-ja-trans:hover{
    content: url("img/button/004_1.png");
}

.about-ja-trans:active{
    content: url("img/button/004_2.png");
}

.about-en-trans:hover{
    content: url("img/button/005_1.png");
}

.about-en-trans:active{
    content: url("img/button/005_2.png");
}

.vartical-menu ul{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.vartical-menu ul li{
    list-style: none;
}

.vartical-menu-button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    text-decoration: none;
    color: rgb(43, 43, 43);
    font-size: x-large;
    border-image: round;
    border-radius: 3px;
    border-color:black;
}

.listing-menu{
    display: grid;
    margin-left: auto;
    margin-right: auto;
    grid-auto-flow: column;
    grid-gap: 24px;
    list-style-type: none;
    width: 800px;
}

.listing-img{
    width: 800px;
    height:500px;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
}

.listing-menu ul{
    grid-auto-flow: column;
    margin: 0;
    width: 800px;
    row-gap: 5px;
    column-gap: 24px;
}

.listing-menu ul li{
    display: grid;
    row-gap: 5px;
    column-gap: 24px;
    grid-auto-flow: row;
    gap: 24px;
    width: 800px;
    border: black 2px solid;
    background-color: rgb(236, 236, 236);
    margin-top: 25px;
    margin-bottom: 15px;
}

.listing-menu ul li:hover{
    background-color: rgb(184, 184, 184);
}

.listing-menu ul li:active{
    background-color: rgb(128, 128, 128);
}

.listing-container{
    text-decoration: underline;
    margin-left: 5px;
    min-height: unset;
    text-align: left;
    color: darkolivegreen;
}

.listing-posteddate{
    min-height: unset;
    margin-left: 10px;
    text-align: left;
    color: rgb(0, 0, 0);
}

.article-ja-trans:hover{
    content: url("img/button/006_1.png");
}

.article-ja-trans:active{
    content: url("img/button/006_2.png");
}

.article-en-trans:hover{
    content: url("img/button/007_1.png");
}

.article-en-trans:active{
    content: url("img/button/007_2.png");
}

.contents{
    color: black;
    text-decoration: underline;
}