body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(221, 221, 221);
}

main {
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-right: 30px;
}

header {
    width: 100%;
    height: 140px;
    background-color: rgb(162, 184, 184);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family:Arial, Helvetica, sans-serif;
}

footer {
    width: 100%;
    padding: 2rem;
    background: rgb(178, 178, 178);
    height:max-content;
    display: flex;
    flex-direction: column;
    border-top: 3px solid rgb(43, 43, 43);
    font-family:Arial, Helvetica, sans-serif;
}

.body{
    color: rgb(43, 43, 43);
}

.header-inside{
    width: 100%;
    height: 110px;
    margin-left:auto;
    margin-right:auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: rgb(43, 43, 43);
}

.header-logo{
    display: block;
    margin-left: 10px;
    margin-top: 10px;
    width: 50px;
    text-decoration: none;
}

.header-menu ul{
    display: flex;
    margin-right: 45px;
    justify-content: flex-end;
}

.header-menu ul li{
    list-style: none;
}

.header-button{
    display: block;
    margin-left: 20px;
    width: 75px;
    text-decoration: none;
    color: rgb(43, 43, 43);
    font-size: x-large;
    border-image: round;
    border-radius: 3px;
    border-color:black;
}

.div-for-footer{
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100lvh;
}

.en-trans:hover{
    content: url("img/button/002_1.png");
}

.en-trans:active{
    content: url("img/button/002_2.png");
}

.ja-trans:hover{
    content: url("img/button/001_1.png");
}

.ja-trans:active{
    content: url("img/button/001_2.png");
}

.contact-trans:hover{
    content: url("img/button/003_1.png");
}

.contact-trans:active{
    content: url("img/button/003_2.png");
}